<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="icon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bonusstyle.css">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/ui-bootstrap-custom-tpls-0.14.3.min.js"></script>
    <script src="js/main.js"></script>
    <title>AdVenture Communist Calculator</title>
    <base href="/">
  </head>
  <body data-ng-app="advApp"><!-- style="background-color:#ffdddd">-->
    <div class="container-fluid col-xs-12" data-ng-controller="advController">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-8 text-center-xs slim-bottom-margin">
            <h1>AdVenture Communist Calculator - v0.1</h1>
          </div>
          <div class="col-sm-4 text-right text-center-xs">
            <div class="input-group inline-block">
              <label class="input-group-btn reset-width">
                <span class="btn btn-primary">
                  Load a Saved State<input type="file" id="fileInput" style="display: none;">
                </span>
              </label>
              <div class="input-group-btn reset-width">
                <button type="button" class="btn btn-primary" data-ng-click="export()">Save State</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-inline">
        <input type="number" style="width:100px" class="form-control" min="0" step="0.001" required> E+<input type="number" style="width:70px" class="form-control" max="308" min="0" required> # Comrades
        <br><input type="number" style="width:100px" class="form-control" min="0" step="0.001" required> E+<input type="number" style="width:70px" class="form-control" max="308" min="0" required> # Scientists
      </div>
      <div class="row">
        <div class="col-xs-12 bottom-margin">
          <ul class="nav nav-tabs nav-justified">
            <li role="presentation" data-ng-class="{active: !isCompare() && isWorld('potatoes')}"><a data-ng-click="setWorld('potatoes')">Potatoes <br>
              <div class="form-inline">
                (<input type="number" style="width:100px" class="form-control" min="0" step="0.001" required>
                E+<input type="number" style="width:70px" class="form-control" max="308" min="0" required>)
              </div>
            </a></li>
            <li role="presentation" data-ng-class="{active: !isCompare() && isWorld('land')}"><a data-ng-click="setWorld('land')">Land <br>
              <div class="form-inline">
                (<input type="number" style="width:100px" class="form-control" min="0" step="0.001" required>
                E+<input type="number" style="width:70px" class="form-control" max="308" min="0" required>)
              </div>
            </a></li>
            <li role="presentation" data-ng-class="{active: !isCompare() && isWorld('ore')}"><a data-ng-click="setWorld('ore')">Ore <br>
              <div class="form-inline">
                (<input type="number" style="width:100px" class="form-control" min="0" step="0.001" required>
                E+<input type="number" style="width:70px" class="form-control" max="308" min="0" required>)
              </div>
            </a></li>
            <li role="presentation" data-ng-class="{active: !isCompare() && isWorld('weapons')}"><a data-ng-click="setWorld('weapons')">Weapons <br>
              <div class="form-inline">
                (<input type="number" style="width:100px" class="form-control" min="0" step="0.001" required>
                E+<input type="number" style="width:70px" class="form-control" max="308" min="0" required>)
              </div>
            </a></li>
            <li role="presentation" data-ng-class="{active: !isCompare() && isWorld('medicine')}"><a data-ng-click="setWorld('medicine')">Medicine <br>
              <div class="form-inline">
                (<input type="number" style="width:100px" class="form-control" min="0" step="0.001" required>
                E+<input type="number" style="width:70px" class="form-control" max="308" min="0" required>)
              </div>
            </a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-inline">
            Amount gained per click: #XXX<br>
            <input type="number" style="width:100px" class="form-control" min="0" step="0.001" required>
                E+<input type="number" style="width:70px" class="form-control" max="308" min="0" required> # {{ref.managerName}}
          </div>
          <div class="col-xs-12">
            <table class="table table-striped table-hover table-bordered space_top">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Number</th>
                  <th>Resource</th>
                  <th># / Cycle</th>
                  <th>Cycle Time</th>
                  <th># / Second</th>
                  <th>% of Total / Second</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="inv in ref.investments track by $index">
                  <td>{{inv[0]}}</td>
                  <td><input type="number" class="form-control" min="0" data-ng-model="inv[1]"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
